<% if can?(:create, :redmine_gestao_mp_config) %>
  <p>
  	<%= link_to t('redmine_gestao_mp_load_redmine_gestao_mp_configs'), project_redmine_gestao_mp_config_index_path(@project.identifier, load_config: true), method: :post %> <%= t('redmine_gestao_mp_to_start') %>.
  </p>	
<% end %>
