/*libs*/
/*@import "jstree/themes/default/style.css"*/
/*@import "jquery-ui/jquery-ui.min.css"*/

/*Controllers*/
/*@import "redmine_gestao_mp_issues.css"*/

/* 5.31 Plugin - Jstree (Added in V1.7) */

.jstree-default .jstree-clicked,
.jstree-default .jstree-wholerow-clicked {
	background: #E4E9EC !important;
	box-shadow: none !important;
}
.jstree-default .jstree-hovered,
.jstree-default .jstree-wholerow-hovered {
	background: #f0f3f4 !important;
	box-shadow: none !important;
}
.jstree-open > .jstree-anchor > .fa-folder:before {
	content: '\f07c';
	color: #222;
}
.jstree-default .jstree-checkbox {
	background: none;
}
.jstree-default .jstree-checkbox:before {
	content: '';
	position: absolute;
	left: 4px;
	top: 4px;
	right: 4px;
	bottom: 4px;
	border: 1px solid #b4b6b7;
	display: block;
	background: #fff;
}
.jstree-default .jstree-anchor > .jstree-checkbox.jstree-undetermined:after {
	content: '';
	position: absolute;
	left: 7px;
	right: 7px;
	bottom: 7px;
	top: 7px;
	display: block;
	background: #b4b6b7;
}
.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:after, 
.jstree-default .jstree-checked > .jstree-checkbox:after {
	content: '\f00c';
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
	top: 5px;
	display: block;
	line-height: 16px;
	font-size: 12px;
	font-style: initial;
	color: #222;
}

/* 1.2 Font Awesome Version Control */

.fc button .fc-icon,
.datepicker th.prev,
.datepicker th.next,
.top-menu li > a .caret,
.gallery .rating span.star,
.wysihtml5-toolbar .glyphicon,
.editable-buttons .glyphicon,
.input-append .icon-eye-open,
.input-prepend .icon-eye-open,
.input-append .icon-eye-close,
.input-prepend .icon-eye-close,
.tagit .ui-icon-close:before,
.sidebar li > a .caret:before,
.attached-document > li:before,
.float-sub-menu li > a .caret:before,
.combobox-container .glyphicon-remove,
.combobox-container .icon-remove:before,
.bootstrap-timepicker-widget .glyphicon,
table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after,
.bootstrap-datetimepicker-widget .glyphicon,
.bootstrap-calendar .calendar .icon-arrow-right,
.bootstrap-calendar .calendar .icon-arrow-left,
.theme-panel .theme-list > li.active > a:before,
.sw-main > ul.step-anchor.nav-tabs > li.done > a .number:before,
.simplecolorpicker.glyphicons span.color[data-selected]:after,
.simplecolorpicker.fontawesome span.color[data-selected]:after,
.jstree-default .jstree-checked > .jstree-checkbox:after,
.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:after {
	font-family: Font Awesome\ 5 Free, Font Awesome\ 5 Pro, FontAwesome !important;
	font-weight: 900;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
}
